* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    display: flex; /* Utiliser flexbox pour le header */
    align-items: center; /* Aligne verticalement le contenu */
    justify-content: space-between; /* Espace entre les éléments */
    padding: 1rem;
    width: 100%; /* S'assure que le header occupe toute la largeur */
}

/* Centre le texte dans le header */
header h1 {
    text-align: center; /* Centre le texte du titre */
    flex-grow: 1; /* Permet au titre de prendre l'espace disponible */
}

#profile-pic {
    width: 50px; /* Ajustez la taille selon vos préférences */
    cursor: pointer; /* Indiquer que c'est cliquable */
    border-radius: 50%; /* Pour donner un effet arrondi */
    margin-right: 1rem; /* Espace à droite de l'image */
}

/* Styles pour les sections */
section {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#projects-title {
    margin-top: 1rem; /* Réduire l'espace au-dessus du titre Mes Projets */
    margin-bottom: 0.5rem; /* Laisser l'espace en dessous du titre */
    font-size: 1.5rem;
    font-weight: bold;
}

#projects {
    position: relative; 
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    padding: 3rem 0; /* Ajouter de l’espace autour du carrousel */
}

/* Styles pour le carrousel de projets */
.carousel {
    display: flex;
    transition: transform 0.4s ease;
    align-items: center;
}

.project {
    width: 300px;
    height: 400px; /* Taille agrandie */
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0 30px; /* Augmenter l'espacement entre les cartes */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

.project.active {
    transform: scale(1.2); /* Agrandir davantage l'élément sélectionné */
    opacity: 1;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    margin-top: auto;
    width: 100%;
}

/* Styles du popup */
.popup {
    display: none; /* Masquer par défaut */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Au-dessus des autres éléments */
    opacity: 0; /* Démarrer invisible */
    transition: opacity 0.5s ease; /* Transition de fondu */
}

.popup.show {
    display: flex; /* Affiche le popup */
    opacity: 1; /* Fait apparaître le popup */
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}

.popup-image {
    height: 300px;
    border-radius: 50%; /* Pour donner un effet arrondi */
    margin-top: 20px; /* Ajouter de l'espace en dessous de l'image */
}

.close {
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Styles du pop-up des projets */
.popup-project {
    display: none; /* Masquer par défaut */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Au-dessus des autres éléments */
    opacity: 0; /* Démarrer invisible */
    transition: opacity 0.5s ease; /* Transition de fondu */
}

.popup-project.show {
    display: flex; /* Affiche le pop-up */
    opacity: 1; /* Fait apparaître le pop-up */
}

.popup-project .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}